@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="h1">Amorim ASP.NET App</h1>
    <h2 class="h2">This is the 3rd project of the Database Programming Class. </h2>
    <p class="lead"><b>It is a database of a bookstore. </b></p>
   
    <p><a href="https://nbccollege-my.sharepoint.com/:v:/g/personal/eamorim01_mynbcc_ca/EbnCVUzOvTxBm6eaMKQhLXkBrfoe-VUWWcoPVjXojG5Vng?email=Elad.Shalom%40nbcc.ca&e=x2D6Nu" class="btn btn-primary btn-lg">Watch video &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with ASP.Net</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>
            I'm a Web Developer passionate about Data Analysis and Blockchain Technology. <br />
            I currently persue a Programmer-Analyst Diploma, so I can better myself and dive deeper in this adventurous world!
        </p>
        <p>If you want to know me better, you can follow me on GitHub or LinkedIn</p>
        <p><a class="btn btn-default" href="https://github.com/Edu-Amorim">GitHub &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/eduardo-amorim-811a6b222/">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the tutor</h2>
        <p>No one achieve anything alone, of course. If you want to meet the person making all this possible, check out his LinkedIn</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/eladshalom/">Elad Shalom &raquo;</a></p>
    </div>
</div>